In [96]:
pip install xlrd>=2.0.1

Note: you may need to restart the kernel to use updated packages.

In [97]:
import pandas as pd

In [98]:
df = pd.read_csv(r"C:\Git_test\Project 2 Docs\Data Sets\Consumer Confidence Index.csv", header=0,
)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Git_test\\Project 2 Docs\\Data Sets\\Consumer Confidence Index.csv'

In [ ]:
print(df.head())
print(df.shape)

  STRUCTURE                        STRUCTURE_ID                STRUCTURE_NAME  \
0  DATAFLOW  OECD.SDD.STES:DSD_STES@DF_CLI(4.1)  Composite leading indicators
1  DATAFLOW  OECD.SDD.STES:DSD_STES@DF_CLI(4.1)  Composite leading indicators
2  DATAFLOW  OECD.SDD.STES:DSD_STES@DF_CLI(4.1)  Composite leading indicators
3  DATAFLOW  OECD.SDD.STES:DSD_STES@DF_CLI(4.1)  Composite leading indicators
4  DATAFLOW  OECD.SDD.STES:DSD_STES@DF_CLI(4.1)  Composite leading indicators

  ACTION REF_AREA Reference area FREQ Frequency of observation MEASURE  \
0      I    NAFTA          NAFTA    M                  Monthly      LI
1      I    NAFTA          NAFTA    M                  Monthly      LI
2      I      AUS      Australia    M                  Monthly      LI
3      I      AUS      Australia    M                  Monthly      LI
4      I      AUS      Australia    M                  Monthly      LI

                             Measure  ...  OBS_VALUE Observation value  \
0  Composite leading indicator (CLI)  ...  100.52800               NaN
1  Composite leading indicator (CLI)  ...  100.52760               NaN
2  Composite leading indicator (CLI)  ...  100.30720               NaN
3  Composite leading indicator (CLI)  ...  100.70580               NaN
4  Composite leading indicator (CLI)  ...   99.10394               NaN

  OBS_STATUS Observation status UNIT_MULT Unit multiplier DECIMALS Decimals  \
0          A       Normal value         0           Units        2      Two
1          A       Normal value         0           Units        2      Two
2          A       Normal value         0           Units        2      Two
3          A       Normal value         0           Units        2      Two
4          A       Normal value         0           Units        2      Two

  BASE_PER Base period
0      NaN         NaN
1      NaN         NaN
2      NaN         NaN
3      NaN         NaN
4      NaN         NaN

[5 rows x 34 columns]
(13967, 34)

In [ ]:
print(df.columns.tolist)

<bound method IndexOpsMixin.tolist of Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'REF_AREA',
       'Reference area', 'FREQ', 'Frequency of observation', 'MEASURE',
       'Measure', 'UNIT_MEASURE', 'Unit of measure', 'ACTIVITY',
       'Economic activity', 'ADJUSTMENT', 'Adjustment', 'TRANSFORMATION',
       'Transformation', 'TIME_HORIZ', 'Time horizon', 'METHODOLOGY',
       'Calculation methodology', 'TIME_PERIOD', 'Time period', 'OBS_VALUE',
       'Observation value', 'OBS_STATUS', 'Observation status', 'UNIT_MULT',
       'Unit multiplier', 'DECIMALS', 'Decimals', 'BASE_PER', 'Base period'],
      dtype='object')>

In [ ]:
df = df[['Reference area', 'TIME_PERIOD', 'OBS_VALUE']]
df

      Reference area TIME_PERIOD  OBS_VALUE
0              NAFTA     2004-12  100.52800
1              NAFTA     2004-11  100.52760
2          Australia     1981-09  100.30720
3          Australia     1981-08  100.70580
4          Australia     1977-07   99.10394
...              ...         ...        ...
13962          NAFTA     2005-05  100.24020
13963          NAFTA     2005-04  100.27510
13964          NAFTA     2005-03  100.35330
13965          NAFTA     2005-02  100.44250
13966          NAFTA     2005-01  100.50380

[13967 rows x 3 columns]

In [ ]:
df.iloc[0:].applymap(type)

C:\Users\David\AppData\Local\Temp\ipykernel_23536\3970406019.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.iloc[0:].applymap(type)

      Reference area    TIME_PERIOD        OBS_VALUE
0      <class 'str'>  <class 'str'>  <class 'float'>
1      <class 'str'>  <class 'str'>  <class 'float'>
2      <class 'str'>  <class 'str'>  <class 'float'>
3      <class 'str'>  <class 'str'>  <class 'float'>
4      <class 'str'>  <class 'str'>  <class 'float'>
...              ...            ...              ...
13962  <class 'str'>  <class 'str'>  <class 'float'>
13963  <class 'str'>  <class 'str'>  <class 'float'>
13964  <class 'str'>  <class 'str'>  <class 'float'>
13965  <class 'str'>  <class 'str'>  <class 'float'>
13966  <class 'str'>  <class 'str'>  <class 'float'>

[13967 rows x 3 columns]

In [ ]:
df = df.rename(columns={'OBS_VALUE': 'CCI Value'})
df

      Reference area TIME_PERIOD  CCI Value
0              NAFTA     2004-12  100.52800
1              NAFTA     2004-11  100.52760
2          Australia     1981-09  100.30720
3          Australia     1981-08  100.70580
4          Australia     1977-07   99.10394
...              ...         ...        ...
13962          NAFTA     2005-05  100.24020
13963          NAFTA     2005-04  100.27510
13964          NAFTA     2005-03  100.35330
13965          NAFTA     2005-02  100.44250
13966          NAFTA     2005-01  100.50380

[13967 rows x 3 columns]

In [ ]:
df = df.sort_values('TIME_PERIOD')
df['TIME_PERIOD']

7422     1955-01
13101    1955-02
7421     1955-02
7647     1955-03
13100    1955-03
          ...
11984    2025-09
8445     2025-09
9278     2025-09
12956    2025-09
2215     2025-09
Name: TIME_PERIOD, Length: 13967, dtype: object

In [ ]:
df = df[df['Reference area'] == 'United Kingdom']
df['Reference area']

6600    United Kingdom
6599    United Kingdom
6598    United Kingdom
6597    United Kingdom
6596    United Kingdom
             ...
7309    United Kingdom
7308    United Kingdom
7307    United Kingdom
7306    United Kingdom
7305    United Kingdom
Name: Reference area, Length: 814, dtype: object

In [ ]:
df[df['TIME_PERIOD'].isin(['2015-01','2025-03'])]

      Reference area TIME_PERIOD  CCI Value
7169  United Kingdom     2015-01   101.3254
7311  United Kingdom     2025-03   100.7234

In [ ]:
pd.set_option('display.max_rows', 60)
print(df['TIME_PERIOD'])

6600    1957-12
6599    1958-01
6598    1958-02
6597    1958-03
6596    1958-04
         ...
7309    2025-05
7308    2025-06
7307    2025-07
7306    2025-08
7305    2025-09
Name: TIME_PERIOD, Length: 814, dtype: object

In [ ]:
df = df.loc[7169:7311]
print(df['TIME_PERIOD'])

7169    2015-01
7168    2015-02
7167    2015-03
7166    2015-04
7165    2015-05
         ...
7315    2024-11
7314    2024-12
7313    2025-01
7312    2025-02
7311    2025-03
Name: TIME_PERIOD, Length: 123, dtype: object

In [ ]:
df['CCI Value'] = df['CCI Value'].astype(int)
df['CCI Value']

7169    101
7168    101
7167    101
7166    101
7165    101
       ...
7315    100
7314    100
7313    100
7312    100
7311    100
Name: CCI Value, Length: 123, dtype: int32

In [ ]:
print(df.index)
print(len(df))

Index([7169, 7168, 7167, 7166, 7165, 7164, 7163, 7162, 7161, 7160,
       ...
       7320, 7319, 7318, 7317, 7316, 7315, 7314, 7313, 7312, 7311],
      dtype='int64', length=123)
123

In [ ]:
print(df['CCI Value'].isna().sum())

0

In [ ]:
df = df.reset_index(drop=True)

In [ ]:
df_merged = df.groupby(df.index // 3)['CCI Value'].mean()
print(df_merged)

0     101.000000
1     101.000000
2     100.333333
3     100.000000
4      99.666667
5      99.000000
6      99.666667
7     100.000000
8     101.000000
9     101.000000
10    100.666667
11    100.000000
12    100.000000
13     99.666667
14     98.666667
15     98.000000
16     97.000000
17     97.000000
18     97.000000
19     97.333333
20     97.333333
21     90.000000
22     98.666667
23     97.333333
24     99.000000
25    101.000000
26    101.666667
27    100.666667
28     99.000000
29     96.333333
30     95.000000
31     95.000000
32     96.333333
33     97.666667
34     98.333333
35     99.000000
36     99.666667
37    100.000000
38    100.000000
39    100.000000
40    100.000000
Name: CCI Value, dtype: float64

In [ ]:
print(df_merged.shape)
print(df_merged)

(41,)
0     101.000000
1     101.000000
2     100.333333
3     100.000000
4      99.666667
5      99.000000
6      99.666667
7     100.000000
8     101.000000
9     101.000000
10    100.666667
11    100.000000
12    100.000000
13     99.666667
14     98.666667
15     98.000000
16     97.000000
17     97.000000
18     97.000000
19     97.333333
20     97.333333
21     90.000000
22     98.666667
23     97.333333
24     99.000000
25    101.000000
26    101.666667
27    100.666667
28     99.000000
29     96.333333
30     95.000000
31     95.000000
32     96.333333
33     97.666667
34     98.333333
35     99.000000
36     99.666667
37    100.000000
38    100.000000
39    100.000000
40    100.000000
Name: CCI Value, dtype: float64

In [ ]:
df_merged.to_excel("C:\\Git_test\\Project 2 Docs\\Data Sets\\CCI_transformed.xlsx", index=False)